rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  match /users/{doc} {
      allow read, write, delete: if request.auth != null && request.auth.uid == resource.data.uid;
      allow create: if request.auth != null;
    }
  }
}
