* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Rajdhani", sans-serif;
  background-color: var(--color-white);
  min-height: 100vh;
  flex: 1;
}

.headerStyling {
  background-color: var(--color-secondary);
  font-family: "Rajdhani", sans-serif;
  color: var(--color-primary);
  font-weight: 700;
  font-size: 64px;
  text-shadow: 2px 2px 0px rgba(242, 250, 252, 1);
}

body {
  background-color: var(--color-white);
  min-height: 100%;
  flex: 1;
}

form {
  background-color: var(--color-gray);
  font-family: "Rajdhani", sans-serif;
  color: var(--color-primary);
  font-weight: 400;
  font-size: 46px;
  flex: 1;
  min-height: 100%;
}

label {
  font-family: "Rajdhani", sans-serif;
  color: var(--color-primary);
  font-weight: 400;
  font-size: 46px;
}

.loginBox {
  background-color: var(--color-white);
  border-color: #613cf5;
  border-width: 2px;
  border-style: solid;
  line-height: 3;
  min-height: 50vh; /* minimum height = screen height */
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: large;
  font-weight: 500;
  color: #613cf5;
}

.gradient_secondary_gray {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 55% 55%,
    rgba(162, 179, 224, 1) 0%,
    rgba(150, 160, 250, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 55% 55%,
    rgba(162, 179, 224, 1) 0%,
    rgba(150, 160, 250, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 55% 55%,
    rgba(162, 179, 224, 1) 0%,
    rgba(150, 160, 250, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 55% 55%,
    rgba(162, 179, 224, 1) 0%,
    rgba(150, 160, 250, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 55% 55%,
    rgba(162, 179, 224, 1) 0%,
    rgba(150, 160, 250, 1) 100%
  );
}

.section_padding {
  padding: 4rem 5rem;
}

.section_margin {
  margin: 4rem 5rem;
}

.shadow-drop-br {
  -webkit-animation: shadow-drop-br 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: shadow-drop-br 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-drop-br {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-br {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

@media screen and (max-width: 700px) {
  .section_padding {
    padding: 4rem;
  }
  .section_margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section_padding {
    padding: 4rem 2rem;
  }
  .section_margin {
    margin: 4rem 2rem;
  }
}
