@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap");

:root {
  --font-family: "Montserrat Alternates", sans-serif;

  --color-primary: #613cf5;
  --color-secondary: #96a0fa;
  --color-white: #f2fafc;
  --color-gray: #a2b3e0;
  --color-black: #27262c;
}
